HTTP_PORT=3004
AWS_REGION=us-east-1
REVIEWS_TABLE=tb_reviews
DYNAMODB_ENDPOINT=http://localhost:8000
AWS_ACCESS_KEY_ID=local
AWS_SECRET_ACCESS_KEY=local
USERS_GRPC_URL=localhost:50052
JWT_SECRET=dev-secret-change-me
NODE_ENV=dev
