# Ignore Node
node_modules/
npm-debug.log
yarn-debug.log*
yarn-error.log*
pnpm-debug.log

# Ignore Environment variables
*.env
backend.env
frontend.env

# Ignore Logs
logs/
*.log
logs/*.log

# Ignore Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Build outputs
dist/
build/
.out/
.next/
coverage/

# Ignore Dockerfiles
docker-compose.override.yml
docker-data/
