HTTP_PORT=3006
AWS_REGION=us-east-1
ORDERS_TABLE=tb_orders
DYNAMODB_ENDPOINT=http://localhost:8000
AWS_ACCESS_KEY_ID=local
AWS_SECRET_ACCESS_KEY=local
CATALOG_GRPC_URL=localhost:50053
CART_GRPC_URL=localhost:50055
JWT_SECRET=dev-secret-change-me
NODE_ENV=dev
