HTTP_PORT=3005
GRPC_PORT=50055
AWS_REGION=us-east-1
CARTS_TABLE=tb_carts
DYNAMODB_ENDPOINT=http://localhost:8000
AWS_ACCESS_KEY_ID=local
AWS_SECRET_ACCESS_KEY=local
CATALOG_GRPC_URL=localhost:50053
JWT_SECRET=dev-secret-change-me
NODE_ENV=dev
